body{
background:linear-gradient(135deg,#667eea,#764ba2);
height:100vh;
font-family:Poppins;
}

h1{
text-align:center;
padding:40px;
color:white;
}

.timeline{
display:flex;
justify-content:center;
gap:30px;
margin-top:80px;
}

.card{
background:white;
padding:30px;
width:300px;
border-radius:20px;
transition:.5s;
}

.card:hover{
transform:translateY(-15px);
}