body{
    margin:0;
    background:#000;
    font-family:Poppins,sans-serif;
}

h1{
    text-align:center;
    color:#00ff99;
    padding:30px;
}

.timeline{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    padding:40px;
}

.card{
    width:350px;
    background:#111;
    color:white;
    padding:30px;
    border:2px solid #00ff99;
    border-radius:15px;
}

.card h2{
    color:#00ff99;
}