body{
background:black;
font-family:Poppins;
}

h1{
text-align:center;
color:#00ff99;
padding:30px;
}

.projects{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
padding:50px;
}

.project{
background:#111;
color:white;
padding:30px;
border:2px solid #00ff99;
border-radius:15px;
transition:.4s;
}

.project:hover{
transform:scale(1.08);
}