body{
    margin:0;
    background:#111827;
    font-family:Poppins,sans-serif;
}

h1{
    text-align:center;
    color:white;
    padding:30px;
}

.skills-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    padding:50px;
}

.skill{
    background:white;
    padding:25px;
    border-radius:15px;
    text-align:center;
    transition:.4s;
}

.skill:hover{
    transform:translateY(-10px);
}

.skill h2{
    color:#2563eb;
}